.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  --main-color: #29a2ff;
  --main-color-light: #5cb8ff;
  --main-color-dark: #1288e2;

  --success-color: #5bbd42;
  --success-color-light: #7cca68;
  --success-color-dark: #528844;

  --error-color: #d87f79;
  --error-color-light: #de928c;
  --error-color-dark: #c57772;
}

.icon-secondary {
  color: var(--main-color-light);
}
.icon-primary {
  color: var(--main-color-dark);
}

.error > .icon-secondary {
  color: var(--error-color-light);
}
.error > .icon-primary {
  color: var(--error-color-dark);
}

.success > .icon-secondary {
  color: var(--success-color-light);
}
.success > .icon-primary {
  color: var(--success-color-dark);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.btn-icon {
  margin-right: .5em;
  display: flex;
  align-items: center;
}

