.auth-block {
  display: flex;
  flex-direction: column;
}

.auth-username, .auth-password {
  display: flex;
  align-items: center;
}
.auth-block svg {
  width: 1em;
  height:1em;
}

.auth-block input {
  font-size: 1em;
  flex: 1;
  margin-left: 1em;
}

.auth-button {
  margin: 1em;
}

.auth-button button {
    outline: 0;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

button:not([disabled]):active {
    box-shadow: none;
    text-decoration: none;
}
